* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans Condensed', sans-serif;
}

body {
    color: rgb(94, 81, 81);
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #24231f;
    width: 100vw;
    height: 100vh;
}

.sub-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30vw;
    height: 30vh;
    background: #f0ebcf;
    border-radius: 1vw;
    font-size: 4vw;
    font-weight: bold;
}

.box:hover {
    background: #a0f370;
    color: rgb(44, 37, 37);
    opacity: 0.6;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 19px 2px rgba(250, 249, 244, 1);
    -moz-box-shadow: 0px 0px 19px 2px rgba(250, 249, 244, 1);
    box-shadow: 0px 0px 19px 2px rgba(250, 249, 244, 1);
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #383731;
}

.content {
    background: #faf9f4;
    color: rgb(44, 37, 37);
    width: 60vh;
    height: 60vh;
    display: none;
    text-align: center;
    border-radius: 5px;
    position: relative;
    padding: 5vmin;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(250, 249, 244, 1);
    -moz-box-shadow: 0px 0px 10px 2px rgba(250, 249, 244, 1);
    box-shadow: 0px 0px 10px 2px rgba(250, 249, 244, 1);
}

.welcome {
    background-color: #24231f;
}

.welcome:hover {
    box-shadow: none;
    background-color: #24231f;
}

.close {
    position: absolute;
    border: none;
    background-color: inherit;
    width: 24px;
    height: 24px;
    right: 5px;
    top: 5px;
    font-size: 1em;
    padding: 5px;
}

.close:before,
.close:after {
    position: absolute;
    top: -1px;
    content: ' ';
    height: 25px;
    width: 2px;
    background-color: #333;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

@media only screen and (max-width: 600px) {
    .box {
        width: 30vw;
        height: 25vh;
        font-size: 7vw;
    }
    .content {
        width: 60vw;
        height: 60vh;
    }
}

.content {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2 {
    margin-bottom: 20px;
    font-size: 4vmin;
}

h3 {
    margin-bottom: 15px;
    font-size: 2.5vmin;
}

p {
    font-size: 2.5vmin;
    text-align: justify;
    margin-bottom: 10px;
}

.content-technol {}

.content__devicon {
    font-size: 8vmin;
    margin: 2vmin;
}

@media screen and (max-width: 600px) {
    h2 {
        font-size: 30px;
    }
    h3,
    p,
    .content__devicon {
        font-size: 2vh;
    }
}

.contact-methods {
    text-decoration: none;
    color: #383731;
}