* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#mainField {
    margin-bottom: 20px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    padding: 5px;
    font-size: 80px;
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
}

.btnrest {
    text-align: center;
}

@keyframes iconHorizontal1 {
    from {
        transform: translateX(-100px);
    }
    to {
        transform: translateX(100px);
    }
}

@keyframes iconHorizontal2 {
    from {
        transform: translateX(100px);
    }
    to {
        transform: translateX(-100px);
    }
}

@keyframes iconVertical {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(100px);
    }
}

.icon {
    font-size: 40px;
}

.icon-left,
.icon-right {
    animation: iconVertical 1s ease-in-out alternate both infinite;
}

.icon-left {
    margin-right: 20px;
}

.icon-right {
    margin-left: 20px;
}

.icons-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-bottom1 {
    animation: iconHorizontal1 1s ease-in-out alternate both infinite;
}

.icon-bottom2 {
    animation: iconHorizontal2 1s ease-in-out alternate both infinite;
}