* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans Condensed', sans-serif;
}

body {
    color: rgb(94, 81, 81);
    background-color: #24231f;
    width: 100vw;
    height: 100vh;
}

.wrapper {
    width: 70%;
    min-height: 100%;
    margin: auto auto;
    background: #f0ebcf;
}

.container {
    margin: 0 20px 0 20px;
}

h1 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

h4 {
    font-size: 1.8em;
    margin-bottom: 20px;
}

p {
    font-size: 1.4em;
    font-weight: bold;
}